/* WHY */
.why {
  background-color: #364954;
  color: #dbdbdb;
  padding: 8rem 0;
}

.pros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 3rem;
}

.pro {
  width: 100%;
}

.pro .icon {
  font-size: 3.5rem;
  margin-top: 1.5rem;
  color: white;
}

.pro h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #fcbd40;
  font-size: 1.2rem;
}

.pro small {
  font-weight: 100;
  font-size: 0.7rem;
  color: white;
}
/* End of Why */

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  /* WHY */

  .why {
    padding: 5rem 0;
  }

  .pros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
  }

  .pro .icon {
    font-size: 3.5rem;
  }

  .pro h4 {
    font-size: 0.9rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .pro > small {
    font-size: 0.55rem;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  /* WHY */
  .why {
    padding: 4rem 0;
  }

  .pros {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .pro .icon {
    margin-top: 1rem;
  }

  .pro h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
  }

  .pro > small {
    font-size: 0.6rem;
  }

  .css-1so1ld0,
  .css-wleu8o,
  .css-t03d83,
  .css-fjh3kx,
  .css-16acqfw,
  .css-17edjdn {
    animation-delay: 0ms !important;
  }
}
