.content-container {
  text-align: center;
  background: #ffffff;
  min-height: 100vh;
}

.content-wrap {
  width: 75%;
  padding: 4rem 0;
  margin: auto;
}

.card-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .card-wrap {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .card-wrap {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .content-wrap {
    width: 90%;
    padding: 2rem 0 2rem 0;
  }
}
