/* Navigation */
.navbar-brand {
  font-weight: 400;
  font-size: 1.4rem;
}

.navbar-nav a {
  font-weight: 200;
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.navbar-collapse {
  flex-grow: 0;
}
/* End of Navigation */

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .navbar-toggler {
    width: 25%;
  }

  .navbar-toggler-icon {
    width: 1.4em;
    height: 1.4rem;
  }
}
